.list-group-item {
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    &.red {
        border-left: 5px solid red;
    }
    &.green {
        border-left: 5px solid green;
    }
    &.yellow {
        border-left: 5px solid yellow;
    }
    span {
        font-weight: bold;
        border-bottom: 1px solid gainsboro;
        margin-bottom: 0.5rem;
    }
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
        font-weight: bold;
        font-size: 20px;
    }
}

.reply-section {
    float: right;
    button {
        font-size: 18px;
        font-weight: bold;
        i {
            padding-right: 0.5rem;
        }
    }
}
