<div class="row">
    <div class="col-md-12 section-header">
        <div class="title">
            Dashboard
        </div>
        <div class="actions">
            <button class="btn btn-primary">Refresh</button>
        </div>
    </div>

    <div class="col-md-12">
        <ag-grid-angular style="width: 100%; height: 600px" class="ag-theme-alpine" [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef" [rowData]="rowData$ | async" [rowSelection]="'multiple'"
            [animateRows]="true" (gridReady)="onGridReady($event)" (rowDoubleClicked)="rowDoubleClicked($event)">
        </ag-grid-angular>
    </div>
</div>